name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version: '24.x'
        cache: 'yarn'
    - name: Install packages
      run: yarn install --immutable
    - name: Build
      run: yarn build
    - name: Run tests
      run: yarn jest
